.markdown {
    textarea {
        color: white;
        background-color: #3b3b3b;
        border: none;
        width: 100%;
        height: 60%;
        outline-color: $primary;
        resize: none;
        padding: $spacer * 2;
    }
}